<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation-Suite">
  <listeners>
    <listener
      class-name="listeners.CustomTestListener"/>
  </listeners>
  <test name="PostUserTests">
    <classes>
      <class name="apiTests.PostUserTests"/>
      <class name="uiTests.SearchProductTests"/>
    </classes>
  </test>
</suite>